
@import (reference) "theme";


div.qui-global-glass {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity @transition-duration ease,
                backdrop-filter @transition-duration linear;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: @modal-background-filter;

    /* Workaround for Firefox that doesn't support backdrop-filter property */
    @supports (-moz-appearance:none) {
        background-color: fade(@background-root-color, 85%);
    }

    &.hidden {
        display: none;
        width: 0;
        height: 0;
        right: auto;
        bottom: auto;
    }

    body.global-glass-visible > & {
        opacity: 1;
    }

    & > div.qui-global-glass-container {

        & > div.qui-page {
            border: 0;
        }

        /* Hide all but last children */
        & > :NOT(:LAST-CHILD) {
            opacity: 0 !important;
        }

        /* Ensure sticky children are at the top of the stack */
        & > .sticky {
            z-index: 1000 !important;
        }

    }

}
