
@import (reference) "theme";


/* Main div */

div.qui-list {
    background: @background-color;
}


/* Children */

div.qui-list-child {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 0.0625em solid @border-color;
    transition: height @transition-duration ease,
                background @transition-duration ease,
                color @transition-duration ease,
                opacity @transition-duration ease;
}

div.qui-list-add {
    background: @background-color;
    color: @interactive-color;

    &.active {
        background: @background-active-color;
    }

    &.selected {
        background: @interactive-color;
        color: @background-color;
    }

    &.active.selected {
        background: @interactive-active-color;
        color: @background-color;
    }

}


/* Items */

div.qui-list-child.qui-list-item {

    &.hidden {
        opacity: 0;
    }

}


/* Search */

div.qui-list-child.qui-list-search > div.qui-list-search-wrapper {
    position: relative;

    & > input[type=text] {
        width: 100%;
        box-sizing: border-box;
        height: 3em;
        padding: 0.5em 2.75em 0.5em 0.5em;
        border: 0;
        border-radius: 0;
        transition: background @transition-duration linear;
    }

    & > input[type=text]::selection {
        background: fade(@foreground-interactive-color, 99%);
        color: @interactive-color;
    }

    & > input[type=text]:FOCUS {
        background-color: @interactive-color;
        color: @foreground-interactive-color;
    }

    & > div.qui-icon {
        cursor:  pointer;
        width: 2em;
        height: 2em;
        margin: 0.5em;
        position: absolute;
        right: 0;
        top: 0;
    }

}


/* Add */

div.qui-list-child.qui-list-add {
    text-align: center;

    & > .qui-icon {
        margin-top: 0.5em;
        width: 2em;
        height: 2em;
    }

}
