
@import (reference) "theme";


body.effects-disabled {

    *,
    *::BEFORE,
    *::AFTER {
        transition: none !important;
    }

    div.qui-global-glass,
    div.qui-main-container-glass {
        backdrop-filter: @modal-background-filter-no-effects;
    }

    div.qui-progress-disk-container > svg,
    div.qui-form-field-side-icon.progress,
    div.qui-status-indicator.progress > div.qui-icon > div {
        animation: none !important;
    }

}
