
@import (reference) "../base";
@import (reference) "../theme";
@import (reference) "common";


div.qui-check-button {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    padding: 0.125em;
    border-radius: 0.2em;
    border: 0.0625em solid @interactive-color;
    line-height: 1.2em !important;
    text-align: center;
    overflow: hidden;
    background: @background-color;
    color: @foreground-interactive-color;
    transition+: background @transition-duration ease,
                 color @transition-duration ease,
                 opacity @transition-duration ease,
                 border @transition-duration ease;
    .qui-focusable-widget();

    &:FOCUS {
        .qui-focused-widget();
    }

    &.on {
        background: @interactive-color;
    }

    &.active {
        background: @interactive-active-color;
    }

    &.on::BEFORE {
        content: '\2713';
        font-size: 1.4em;
    }

    &.has-warning {
        border-color: @warning-color;

        &:FOCUS {
            .qui-focused-widget-warning();
        }

        &.on {
            background: @warning-color;
        }

        &.active {
            background: @warning-active-color;
        }

    }

    &.has-error {
        border-color: @error-color;

        &:FOCUS {
            .qui-focused-widget-error();
        }

        &.on {
            background: @error-color;
        }

        &.active {
            background: @error-active-color;
        }

    }

    &.readonly {
        border-color: @readonly-color;
        color: @foreground-color;
        background: @background-color !important;

        &:FOCUS {
            .qui-focused-widget-readonly();
        }

    }

    &.disabled {

        border-color: @disabled-color;
        background: @background-color !important;
        color: @disabled-color;

    }

}
