
@import (reference) "../base";
@import (reference) "../theme";


div.qui-choice-groups-container {
}

div.qui-choice-group-container {
    white-space: nowrap;
}

div.qui-choice-button {
    display: inline-block;
    padding: 0.25em;
    border-radius: 0;
    border-width: 0.0625em 0 0 0.0625em;
    border-style: solid;
    border-color: @interactive-color;
    min-width: 1em;
    box-sizing: border-box;
    text-align: center;
    background: @background-color;
    color: @foreground-color;
}

div.qui-choice-button.on,
div.qui-choice-button.active {
    color: @foreground-active-color;
}

div.qui-choice-button.on:NOT(.active) {
    background: @interactive-color;
}

div.qui-choice-groups-container:FOCUS div.qui-choice-button {
    border-color: @focus-color;
}

div.qui-choice-groups-container:FOCUS div.qui-choice-button.on {
    background: @focus-color;
}

div.qui-choice-groups-container:FOCUS div.qui-choice-button.active {
    background: @focus-active-color;
}

div.qui-choice-button:FIRST-CHILD {
    border-top-left-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
}

div.qui-choice-button:LAST-CHILD {
    border-top-right-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
    border-right-width: 0.0625em;
}

div.qui-choice-group-container:LAST-CHILD div.qui-choice-button {
    border-bottom-width: 0.0625em;
}

div.qui-choice-group-container:NOT(:FIRST-CHILD) div.qui-choice-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.qui-choice-group-container:NOT(:LAST-CHILD) div.qui-choice-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.qui-choice-groups-container.disabled div.qui-choice-button {
    border-color: @disabled-color;
    color: @disabled-foreground-color;
    background: @background-color;
    cursor: default;
}

div.qui-choice-groups-container.disabled div.qui-choice-button.on {
    color: @background-color;
    background: @disabled-color;
}
