
@import (reference) "../base";
@import (reference) "../theme";
@import (reference) "common";


div.qui-combo-container {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0.2em;
    .qui-focusable-widget();

    & > div.qui-combo-button {
        border: 0.0625em solid @interactive-color;
        border-radius: 0.2em;
        position: relative;
        min-width: 2em;
        background: @background-color;
        color: @foreground-color;
        overflow: hidden;
        text-overflow: ellipsis;

        & > div.qui-combo-current-label {
            padding-right: 1.8em;
            min-height: 1.6875em;
        }

        & > span.qui-combo-arrow-separator {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 1.8em;
            width: 0;
            height: 100%;
            border-width: 0 0.0625em 0 0;
            border-style: solid;
            border-color: inherit;
            transition: border-color @transition-duration linear;
        }

        & > span.qui-combo-arrow {
            position: absolute;
            top: 40%;
            right: 0;
            margin: 0 0.5em;
            border-width: 0.5em 0.4em;
            border-style: solid;
            border-color: transparent;
            border-top-color: inherit;
            transition: border-color @transition-duration linear;
        }

    }

    & > input.qui-combo-filter {
        box-shadow: none;
        display: none;
    }

    & > div.qui-combo-item-container {
        position: relative;
        color: @foreground-color;
        border: 0.0625em solid @interactive-color;
        background-color: @background-color;
        margin-top: 0.0625em;
        margin-bottom: -0.1875em; /* Effectively reduces height to 0 when closed */
        min-width: 100%;
        min-height: 0;
        max-height: 0;
        box-sizing: border-box;
        opacity: 0;
        text-align: left;
        overflow: auto;
        border-radius: 0 0 0.2em 0.2em;
        transition: max-height @transition-duration ease,
                    opacity @transition-duration ease;

        & > div.qui-combo-item {
            white-space: nowrap;
            cursor: default;
            background: @background-color;
            overflow: hidden;
            transition: background @transition-duration ease,
                        color @transition-duration ease,
                        height @transition-duration ease,
                        max-height @transition-duration ease;

            &.odd {
                background: @odd-color;
            }

            &.selected {
                background: @interactive-color;
                color: @foreground-active-color;
            }

            &.separator {
                border-top: 0.0625em solid @border-color;
            }

            &.hidden {
                max-height: 0 !important;
            }

            &.hidden:NOT(.separator) {
                border: 0;
            }

        }

    }

    &.open {

        & > div.qui-combo-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & > div.qui-combo-item-container {
            opacity: 1;
            min-height: 1.75em;
            max-height: 12em;
            margin-bottom: 0;
        }

        &.filter-enabled > input.qui-combo-filter {
            display: block;
            border-radius: 0;
            margin-top: 0.0625em;
            width: 100%;
        }

    }

    &:FOCUS,
    &.open {
        .qui-focused-widget();
    }

    &.has-error {

        & > div.qui-combo-button,
        & > input.qui-combo-filter,
        & > div.qui-combo-item-container {
            border-color: @error-color;
        }

        &:FOCUS,
        &.open {
            .qui-focused-widget-error();
        }

    }

    &.readonly {

        & > div.qui-combo-button {
            border-color: @readonly-color;
            cursor: default;

            & > span.qui-combo-arrow {
                border-top-color: @foreground-color;
            }

        }

        &:FOCUS {
            .qui-focused-widget-readonly();
        }

    }

    &.disabled > div.qui-combo-button {
        border-color: @disabled-color;
        color: @disabled-color;
        cursor: default;

        & > span.qui-combo-arrow {
            border-top-color: @disabled-color;
        }
    }

}


/* Simple label */

div.qui-combo-item-simple-label {
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.6875em;
    line-height: 1.6875em;
    padding: 0 0.25em;
}
