
@import (reference) "../base";
@import (reference) "../theme";


div.qui-slider {
    padding: 0.5em 0.5em 0.5em;
    overflow: hidden;
    .noselect;

    & > div.qui-slider-labels {
        position: relative;
        white-space: nowrap;
        height: 1.5em;
        margin: 0 0.5em;

        & > span.qui-slider-label {
            width: 30%;
            text-align: center;
            position: absolute;
            font-size: 0.85em;
            opacity: 1;
            transition: opacity @transition-duration ease,
                        color @transition-duration ease;

            &.qui-slider-label-cursor {
                opacity: 0;
            }

        }

    }

    & > div.qui-slider-bar-container {
        padding: 0 0.5em;

        & > div.qui-slider-bar {
            position: relative;
            height: 0.5em;
            border: 0.0625em solid @interactive-color;
            border-radius: 0.2em;
            transition: border-color @transition-duration linear;

            & > div.qui-slider-cursor {
                position: absolute;
                left: 0;
                top: -0.5em;
                width: 1.5em;
                height: 1.5em;
                margin-left: -0.75em;
                cursor: pointer;
                border-width: 0;
                border-radius: 0.2em;
                background: @interactive-color;
            }

        }

    }

    &:FOCUS {

        & > div.qui-slider-bar-container > div.qui-slider-bar {
            border-color: @focus-color;
        }

    }

    &.active {

        & > div.qui-slider-labels {

            & > span.qui-slider-label {
                opacity: 0.3; /* Reduce labels opacity so that cursor label becomes visible */
            }

            & > span.qui-slider-label-cursor {
                opacity: 1;
                background: linear-gradient(to right, transparent 0%,@background-color 50%,transparent 100%);
            }

        }

        & > div.qui-slider-bar-container {

            & > div.qui-slider-bar {

                & > div.qui-slider-cursor {
                    background: @interactive-active-color;
                }
            }
        }

    }

    &.disabled {

        & > div.qui-slider-labels {

            & > span.qui-slider-label {
                color: @disabled-foreground-color;
            }

        }

        & > div.qui-slider-bar-container > div.qui-slider-bar {
            border-color: @disabled-color;
        }

    }

}




//div.qui-slider:FOCUS div.qui-slider-cursor {
//    background: @focus-color;
//}
//
//div.qui-slider:FOCUS div.qui-slider-cursor.active {
//    background: @focus-active-color;
//}
//
//div.qui-slider.disabled div.qui-slider-cursor {
//    background: @disabled-color;
//    cursor: default;
//}
