
@import (reference) "../base";
@import (reference) "../theme";
@import (reference) "common";


input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
textarea {
    border: 0.0625em solid @interactive-color;
    border-radius: 0.2em;
    padding: 0.25em;
    background: @background-color;
    color: @foreground-color;
    resize: none;
    transition: color @transition-duration linear,
                border-color @transition-duration linear;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.15em;
    box-sizing: border-box;
    .qui-focusable-widget();
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email] {
    height: 1.75em;
}

input[type=text].has-error,
input[type=password].has-error,
input[type=number].has-error,
input[type=tel].has-error,
input[type=email].has-error,
textarea {
    border-color: @error-color;
}

input[type=text]:FOCUS,
input[type=password]:FOCUS,
input[type=number]:FOCUS,
input[type=tel]:FOCUS,
input[type=email]:FOCUS,
textarea:FOCUS {
    .qui-focused-widget();
}

input[type=text].has-error:FOCUS,
input[type=password].has-error:FOCUS,
input[type=number].has-error:FOCUS,
input[type=tel].has-error:FOCUS,
input[type=email].has-error:FOCUS,
textarea.has-error:FOCUS {
    .qui-focused-widget-error();
}

input[type=text][readonly],
input[type=password][readonly],
input[type=number][readonly],
input[type=tel][readonly],
input[type=email][readonly],
textarea[readonly] {
    border-color: @disabled-color;
}

input[type=text][readonly]:FOCUS,
input[type=password][readonly]:FOCUS,
input[type=number][readonly]:FOCUS,
input[type=tel][readonly]:FOCUS,
input[type=email][readonly]:FOCUS,
textarea[readonly]:FOCUS {
    .qui-focused-widget-readonly();
}

input[type=text][disabled],
input[type=password][disabled],
input[type=number][disabled],
input[type=tel][disabled],
input[type=email][disabled],
textarea[disabled] {
    .noselect;
    border-color: @disabled-color;
    color: @disabled-color;
}


input[type=text]::selection,
input[type=password]::selection,
input[type=number]::selection,
input[type=tel]::selection,
input[type=email]::selection,
textarea::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}


input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
    color: @disabled-color;
}


/* Password input */

div.text-input.clear-enabled > input[type=password] {
    padding-right: 1.75em;
}

div.qui-password-input-clear-button {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    padding: 0.375em;
    border-left: 0.0625em solid @interactive-color;
    border-radius: 0 0.2em 0.2em 0;
    vertical-align: top;
    position: relative;
    top: 0;
    right: 1.75em;
    cursor: pointer;
}

div.qui-password-input-clear-button.active {
    background: @interactive-color;
}

div.qui-password-input-clear-icon {
    width: 1em;
    height: 1em;
    position: relative;
    left: -0.0625em;
}


/* Chrome oddities */

input:-webkit-autofill {
    /* box-shadow here is a Chrome hack to customize autofill background */
    box-shadow+: 0 0 0 100em @background-color inset !important;
    -webkit-text-fill-color: @foreground-color;
    .qui-focusable-widget();
}

input:-webkit-autofill:FOCUS {
    /* box-shadow here is a Chrome hack to customize autofill background */
    box-shadow+: 0 0 0 100em @background-color inset !important;
    -webkit-text-fill-color: @foreground-color;
    .qui-focused-widget();
}

input.has-error:-webkit-autofill:FOCUS {
    box-shadow+: 0 0 0 100em @background-color inset !important;
    -webkit-text-fill-color: @foreground-color;
    .qui-focused-widget-error();
}

input:-webkit-autofill::selection {
    background: fade(@interactive-color, 99%) !important;
    color: @background-color !important;
    -webkit-text-fill-color: @background-color !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox oddities */

input[type=number] {
    -moz-appearance: textfield;
}
