
@import (reference) "../base";
@import (reference) "../theme";


input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
textarea {
    border: 0.0625em solid @interactive-color;
    border-radius: 0.2em;
    padding: 0.25em;
    background: @background-color;
    color: @foreground-color;
    resize: none;
    transition: color @transition-duration linear,
                border-color @transition-duration linear,
                box-shadow (@transition-duration / 2) linear;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.15em;
    box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email] {
    height: 1.75em;
}

input[type=text]:FOCUS,
input[type=password]:FOCUS,
input[type=number]:FOCUS,
input[type=tel]:FOCUS,
input[type=email]:FOCUS,
textarea:FOCUS {
    box-shadow: 0 0 0 0.2em fade(@interactive-color, 30%);
}

input[type=text][readonly],
input[type=password][readonly],
input[type=number][readonly],
input[type=tel][readonly],
input[type=email][readonly],
textarea[readonly] {
    color: @foreground-color;
    border-color: @disabled-color;
    background: transparent;
}

input[type=text][readonly]:FOCUS,
input[type=password][readonly]:FOCUS,
input[type=number][readonly]:FOCUS,
input[type=tel][readonly]:FOCUS,
input[type=email][readonly]:FOCUS,
textarea[readonly]:FOCUS {
    box-shadow: 0 0 0 0.2em fade(@disabled-color, 50%);
}

input[type=text][disabled],
input[type=password][disabled],
input[type=number][disabled],
input[type=tel][disabled],
input[type=email][disabled],
textarea[disabled] {
    .noselect;
    border-color: @disabled-color;
    color: @disabled-foreground-color;
}


input[type=text][readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

input[type=password][readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

input[type=number][readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

input[type=tel][readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

input[type=email][readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

textarea[readonly]::selection {
    background: fade(@interactive-color, 99%);
    color: @background-color;
}

input[type=text][readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

input[type=password][readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

input[type=number][readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

input[type=tel][readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

input[type=email][readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

textarea[readonly]::-moz-selection {
    background: @interactive-color;
    color: @background-color;
}

input[type=text]::input-placeholder,
input[type=password]::input-placeholder,
input[type=number]::input-placeholder,
input[type=tel]::input-placeholder,
input[type=email]::input-placeholder,
textarea::input-placeholder {
    color: @disabled-color;
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: @disabled-color;
}

input[type=text]::-moz-input-placeholder,
input[type=password]::-moz-input-placeholder,
input[type=number]::-moz-input-placeholder,
input[type=tel]::-moz-input-placeholder,
input[type=email]::-moz-input-placeholder,
textarea::-moz-input-placeholder {
    color: @disabled-color;
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: @disabled-color;
}


input:-webkit-autofill {
    box-shadow: 0 0 0 100em @background-color inset;
    -webkit-text-fill-color: @interactive-color;
    transition: box-shadow @transition-duration linear,
                -webkit-text-fill-color @transition-duration linear;
}

input:-webkit-autofill:FOCUS {
    color: red;
    box-shadow: 0 0 0 100em @focus-color inset;
    -webkit-text-fill-color: @foreground-active-color;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Password input */

div.text-input.clear-enabled > input[type=password] {
    padding-right: 1.75em;
}

div.qui-password-input-clear-button {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    padding: 0.375em;
    border-left: 0.0625em solid @interactive-color;
    border-radius: 0 0.2em 0.2em 0;
    vertical-align: top;
    position: relative;
    top: 0;
    right: 1.75em;
    cursor: pointer;
}

div.qui-password-input-clear-button.active {
    background: @interactive-color;
}

div.qui-password-input-clear-icon {
    width: 1em;
    height: 1em;
    position: relative;
    left: -0.0625em;
}
