
@import (reference) "../theme";
@import (reference) "../widgets/common";


/* Fields based on input entries */

div.qui-form-field-value > div.text-input > input,
div.qui-form-field-value > div.text-input > textarea {
    width: 100%;
}


/* Check field */

div.qui-form-body > div.qui-form-field.jquery-ui-checkbutton.auto-width {
    /* Position the check field label and value on the same line */

    & {
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    & > div.qui-form-field-description,
    & > div.qui-form-field-warning,
    & > div.qui-form-field-error {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    & > div.qui-form-field-label {
        align-self: center;
    }
}


/* Combo */

div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container:NOT(.disabled) >
        div.qui-combo-button {

    border-color: @error-color;
}

div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container:NOT(.disabled) >
        div.qui-combo-button.active {

    border-color: @error-active-color;
    background: @error-active-color;
}

div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container:FOCUS > div.qui-combo-button,
div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container > div.qui-combo-button.open {
    background: @error-color;
    border-color: @error-color;
}

div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container:NOT(:FOCUS) >
        div.qui-combo-button:NOT(.active):NOT(.open) > span.qui-combo-arrow-separator {

    border-color: @error-color;
}

div.qui-form-field.has-error > div.qui-form-field-value > div.qui-combo-container:NOT(:FOCUS) >
        div.qui-combo-button:NOT(.active):NOT(.open) > span.qui-combo-arrow {

    border-top-color: @error-color;
}


/* Push button */

div.qui-form-push-button {
    padding: 0 0.5em;
    line-height: 2.5em;
    width: 100%;
}


/* Labels */

div.qui-form-field-value > div.qui-labels-container.chevrons {
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
}


/* Composite field */

div.qui-composite-field-container {
    display: grid;
    grid-gap: 0.5em;
}

div.qui-composite-field-container.layout-horizontal {
    grid-auto-flow: column;
}
