
@import (reference) "../theme";
@import (reference) "../base";


div.qui-form-field {
    white-space: nowrap;
    transition: height @transition-duration ease,
                opacity @transition-duration ease;
    position: relative;

    &.first-visible {
        padding-top: 0;
    }

    &.last-visible {
        padding-bottom: 0;
    }

    &.hidden {
        opacity: 0;
    }

    &.separator:NOT(.first-visible) {
        border-top: 0.0625em solid @border-color;
        margin-top: 0.5em;
        padding-top: 0.5em;
    }

    form.qui-form.compact > div.qui-form-body > & {

        &:NOT(.force-one-line) {
            white-space: normal;
        }

        &.separator:NOT(.first-visible) {
            margin-top: 0.25em;
            padding-top: 0.25em;
        }

        &:NOT(.force-one-line) {
            padding-top: 0.4em;
        }

    }

}


/* Warning & error */

div.qui-form-field-warning {
    color: @warning-color;
}

div.qui-form-field-error {
    color: @error-color;
}

div.qui-form-field-warning,
div.qui-form-field-error {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    white-space: normal;
    text-align: right;
    transition: opacity @transition-duration ease,
                max-height @transition-duration ease;
}

div.qui-form-field.has-warning.warning-visible > div.qui-form-field-warning,
div.qui-form-field.has-error.error-visible > div.qui-form-field-error {
    max-height: 5em;
    padding-top: 0.5em;
    opacity: 1;
}

span.qui-form-field-warning-text,
span.qui-form-field-error-text {
    padding: 0.5em 0;
    text-align: left;
    font-size: 0.75em;
}

div.qui-form-field-warning-label,
div.qui-form-field-error-label {
    display: inline-flex;
    position: relative;
    background: @border-color;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    padding: 0 0.5em;
    align-items: center;
}


/* Description */

div.qui-form-field-description {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    white-space: normal;
    color: @info-color;
    text-align: right;
    transition: opacity @transition-duration ease,
                max-height @transition-duration ease;
}

div.qui-form-field.description-visible > div.qui-form-field-description {
    max-height: 5em;
    padding-top: 0.5em;
    opacity: 1;
}

span.qui-form-field-description-icon {
    display: inline-block;
    background-image: url('@{qui_img_path}/qui-icons.svg');
    background-size: 80em;
    background-position: @info-icon-x-offset @info-icon-y-offset;
    transform: scale(0.75);
    width: 2em;
    height: 2em;
    flex: none;
}

span.qui-form-field-description-text {
    padding: 0.5em 0;
    text-align: left;
    font-size: 0.75em;
}

div.qui-form-field-description-label {
    display: inline-flex;
    position: relative;
    background: @border-color;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    padding-right: 0.5em;
    align-items: center;
}

div.qui-form-field.auto-width {
    width: 100%;
    padding-right: 0;
}


/* Label */

div.qui-form-field-label {
    display: none;
    width: 50%;
    padding: 0.2em 0.5em 0.2em 0.2em;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: middle;
    grid-auto-flow: column;
    justify-content: right;
    align-items: center;
    text-align: right;

    div.qui-form-field.has-label > & {
        display: inline-grid;
    }

    div.qui-form-field.auto-width > & {
        width: auto;
    }

    form.qui-form.compact > div.qui-form-body > div.qui-form-field > & {
        justify-content: left;
        text-align: left;
    }

    form.qui-form.compact > div.qui-form-body > div.qui-form-field:NOT(.force-one-line) > & {
        width: 100%;
    }

    & > span.qui-form-field-unit {
        display: none;
        font-size: 75%;
        color: fade(@foreground-color, 75%);
        margin-left: 0.25em;
    }

    div.qui-form-field.has-unit > & > span.qui-form-field-unit {
        display: inline-block;
    }

    & > div.qui-form-field-description-icon {
        cursor: pointer;
        display: none;
        margin-left: 0.25em;
        width: 1em;
        height: 1em;
    }

    div.qui-form-field.has-description > & > div.qui-form-field-description-icon {
        display: inline-block;
    }

}


/* Value */

div.qui-form-field-value {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0.2em 0;
    text-align: left;

    div.qui-form-field.side-icon-visible > & {
        padding-right: 2em;
        margin-right: -1.5em; /* Makes place for the side icon */
    }

    & > * {
        box-sizing: border-box;
    }

    form.qui-form.compact > div.qui-form-body > div.qui-form-field > & {
        text-align: right;
    }

    form.qui-form.compact > div.qui-form-body > div.qui-form-field:NOT(.force-one-line) > & {
        width: 100%;
    }

    form.qui-form.compact > div.qui-form-body > div.qui-form-field:NOT(.force-one-line).last-visible > & {
        padding-bottom: 0;
    }

    div.qui-form-field.auto-width > & {
        width: auto;
    }

}


/* Side icon */

div.qui-form-field-side-icon {
    display: none;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    background: transparent;
}

div.qui-form-field-side-icon.progress {
    animation: spin 1s linear infinite;
}

div.qui-form-field.side-icon-visible > div.qui-form-field-value + div.qui-form-field-side-icon {
    display: inline-block;
}
